.input {
  border: 1px solid var( --color-gallery);
  padding: 9px 12px;
  background-color: var(--color-while);
  border-radius: var(--boder-radius-input-button);
  outline: none;
  font-weight: var(--font-weight-light);
}

.input::placeholder {
  font-weight: var(--font-weight-light);
}
